body {
    margin: 0;
    padding: 15px;
    background-color: #2F3E46;
    color: #CAD2C5
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.list-group,
.list-group-flush {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-auto-flow: row;
}

.list-group-item {
    background-color: #2F3E46;
}

.song-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.8rem;
}

img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button {
    width: 12rem;
    background-color: #52796F !important;
    border-color: #52796F !important;
}

a:link,
a:visited {
    background-color: #2F3E46;
    color: #CAD2C5;
    font-weight: bold;
    font-size: 17px;
    /* padding: 14px 25px; */
    /* text-align: center; */
    text-decoration: none;
    /* display: inline-block; */
}

#demo {
    display: inline-block
}

span {
    font-weight: bold;
    font-size: 30px;
}

#undefined {
    color: tomato;
    font-weight: bold;
    font-size: 25px;
}

.logo {
    background-color: #2F3E46;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 40%;
    height: 7rem;
}

.site-header__title {
    margin: auto;
}

.paatify {
    font-size: 1.5em;
    position: relative;
    bottom: 8rem;
    max-width: 23rem;
    border-bottom: 1 solid;
}
#loading {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}

#loading img {
    height: inherit;
    width: inherit;
}

#home, 
#about,
#artists,
#search {
    color: #ffffff;
}
